<form action="<%= users_url %>" method="Post">


	<input type="text" name="user[email]" id="user_email">
	<label for="user_email">Email</label>
	<br>
	<input type="password" name="user[password]" id="user_password">
	<label for="user_password">Password</label>
	<br>
	<input type="submit" value="Login">
</form>
